@font-face {
  font-family: avenir;
  src: url("/catalog/view/stylesheet/fonts/avenir.otf") format("opentype");
}

@font-face {
  font-family: avenir-semibold;
  src: url("/catalog/view/stylesheet/fonts/avenir-semibold.otf") format("opentype");
}

@font-face {
  font-family: avenir-bold;
  src: url("/catalog/view/stylesheet/fonts/avenir-bold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

*:focus-visible {
  outline: none;
}

body {
  font-family: "avenir", sans-serif;
  font-weight: 400;
  color: #080E16;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #080E16;
}

/* Override the bootstrap defaults */
h1 {
  font-size: 33px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10.2px;
}

a {
  color: #080E16;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

hr {
  width: 100%;
  opacity: 1;
  background-color: #6B7A93;
}

/* Chrome border line */
button:focus {
  outline: none !important;
}

legend {
  font-size: 18px;
  padding: 7px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

label {
  font-size: 12px;
  font-weight: normal;
}

select {
  padding: 0.5rem 0.75rem !important;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.list-unstyled a {
  text-decoration: none;
}

.nav-tabs {
  margin-bottom: 15px;
}

div.required .col-form-label:before,
div.required .form-label:before {
  content: "* ";
  color: #F00;
  font-weight: bold;
}

@media (min-width: 768px) {
  .col-form-label {
    text-align: right;
  }
}

#alert {
  z-index: 9999;
}

#alert .alert {
  position: relative;
}

@media (min-width: 1300px) {
  #alert .alert {
    min-width: 400px;
    right: 50px;
  }
}

@media (min-width: 1400px) {
  #alert .alert {
    right: 0px;
  }
}

@media (min-width: 1600px) {
  #alert .alert {
    right: 100px;
  }
}

@media (min-width: 1800px) {
  #alert .alert {
    right: 200px;
  }
}

@media (min-width: 2000px) {
  #alert .alert {
    right: 300px;
  }
}

@media (min-width: 2200px) {
  #alert .alert {
    right: 400px;
  }
}

@media (min-width: 2400px) {
  #alert .alert {
    right: 500px;
  }
}

@media (min-width: 2600px) {
  #alert .alert {
    right: 600px;
  }
}

@media (min-width: 2800px) {
  #alert .alert {
    right: 700px;
  }
}

@media (min-width: 3000px) {
  #alert .alert {
    right: 800px;
  }
}

@media (min-width: 3200px) {
  #alert .alert {
    right: 900px;
  }
}

@media (min-width: 3400px) {
  #alert .alert {
    right: 1000px;
  }
}

@media (min-width: 3600px) {
  #alert .alert {
    right: 1100px;
  }
}

@media (min-width: 3800px) {
  #alert .alert {
    right: 1200px;
  }
}

@media (min-width: 4000px) {
  #alert .alert {
    right: 1300px;
  }
}

/* top */
#top {
  background-color: #EEEEEE;
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0;
  margin: 0 0 20px 0;
  min-height: 44px;
  position: relative;
}

#top .nav>.list-inline>.list-inline-item,
#top .nav>.list-inline .list-inline-item>a,
#top .nav>.list-inline .list-inline-item .dropdown>a {
  color: #888;
  text-shadow: 0 1px 0 #FFF;
}

.dropdown-menu::after {
  content: '';
  position: absolute;
  top: 0;
  left: 35%;
  margin-left: 16px;
  margin-top: -11px;
  width: 0;
  z-index: 1;
  height: 0;
  border-bottom: solid 10px #6B7A93;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

#top .btn-link {
  color: #888;
  text-shadow: 0 1px 0 #FFF;
  text-decoration: none;
}

#top .btn-link:hover {
  color: #444;
}

#top a {
  font-size: 1.1em;
  text-decoration: none;
}

footer a {
  text-decoration: none;
  color: #080E16;
}

/* logo */
#logo {}

#logo img {
  max-width: 200px;
}

/* search */
#search {}

#search .form-control-lg {
  height: 40px;
  font-size: 12px;
  line-height: 20px;
  padding: 0 10px;
}

#search .btn-lg {
  font-size: 15px;
  line-height: 18px;
  padding: 0.57rem 35px;
  text-shadow: 0 1px 0 #FFF;
}

/* menu */
#menu {
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
  border: 1px solid #1f90bb;
  border-color: #1f90bb #1f90bb #145e7a;
  min-height: 40px;
  border-radius: 4px;
}

#menu.navbar {
  padding: 0 1rem;
  margin-bottom: 20px;
}

#menu .dropdown-menu {
  padding-bottom: 0;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#menu .dropdown-inner {
  display: table;
}

#menu .dropdown-inner ul {
  display: table-cell;
}

#menu .dropdown-inner ul li a:hover {
  color: #ffffff;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
}

#menu .dropdown-inner a {
  min-width: 160px;
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #333333;
  font-size: 12px;
}

#menu .see-all {
  display: block;
  margin-top: 0.5em;
  border-top: 1px solid #DDD;
  padding: 3px 20px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 3px 3px;
  font-size: 12px;
}

#menu .see-all:hover,
#menu .see-all:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
}

#menu #category {
  float: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

#menu .navbar-toggler i {
  color: #fff;
  border-color: #fff;
  font-size: 0.9em;
}

#menu .navbar-nav>li>a {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  padding: 10px 15px 10px 15px;
  min-height: 15px;
  background-color: transparent;
}

#menu .navbar-nav>li>a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  #menu .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 767px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  #menu {
    border-radius: 4px;
  }

  #menu div.dropdown-inner>ul .list-unstyled {
    display: block;
  }

  #menu div.dropdown-menu {
    margin-left: 0 !important;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  #menu .dropdown-inner {
    display: block;
  }

  #menu .dropdown-inner a {
    width: 100%;
    color: #fff;
  }

  #menu .dropdown-menu a:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  #menu .dropdown-menu ul li a :hover {
    background: rgba(0, 0, 0, 0.1);
  }

  #menu .see-all {
    margin-top: 0;
    border: none;
    border-radius: 0;
    color: #fff;
  }
}

/* content */
#content {}

/* footer */
footer {
  padding-bottom: 1px;
  background-color: #303030;
  border-top: 1px solid #ddd;
  color: #e2e2e2;
}

footer a:hover {
  /* color: #fff; */
}

/* breadcrumb */
.breadcrumb {
  margin: 0 0 20px 0;
  padding: 8px 0;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
}

.breadcrumb i {
  font-size: 15px;
}

.breadcrumb>li.breadcrumb-item {
  text-shadow: 0 1px 0 #FFF;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
}

.breadcrumb>li.breadcrumb-item>a {
  text-decoration: none;
}

.breadcrumb>li.breadcrumb-item:after {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  right: -5px;
  width: 26px;
  height: 26px;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.breadcrumb>li.breadcrumb-item+li:before {
  content: "";
  padding: 0;
}

.pagination {
  margin: 0;
}

/* buttons */
.btn-light {
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active,
.btn-light.disabled,
.btn-light[disabled] {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  background-position: 0;
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
  border-color: #1f90bb #1f90bb #145e7a;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-position: 0;
}

.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #e06342, #dc512c);
  background-repeat: repeat-x;
  border-color: #dc512c #dc512c #a2371a;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-image: none;
  background-color: #df5c39;
}

.btn-link {
  border-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #23A1D1;
  border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  box-shadow: none;
}

.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
  background-image: linear-gradient(to bottom, #333333, #111111);
}

.product-thumb {
  border-top: 1px solid #6B7A93;
  border-bottom: 1px solid #6B7A93;
  filter: drop-shadow(0px 10px 40px rgba(8, 14, 22, 0.1));
  background-color: white;
}

.product-thumb:hover {
  border-top: 1px solid #F98D78;
  border-bottom: 1px solid #F98D78;
}

.product-thumb h4 {
  font-weight: bold;
}

.product-thumb .image {
  text-align: center;
  margin-bottom: 15px;
}

.product-thumb .btn-buy {
  display: none;
}

.product-thumb:hover .btn-buy {
  display: block;
}

.product-thumb .description {
  padding: 15px;
}

.product-thumb .button-group {
  display: flex;
  border-top: 1px solid #ddd;
  background-color: #eee;
}

.product-thumb .button-group button {
  flex: 33%;
  border-radius: 0;
  display: inline-block;
  border: none;
  background-color: #eee;
  color: #888;
  line-height: 38px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.product-thumb .button-group button:hover {
  color: #444;
  background-color: #ddd;
  text-decoration: none;
  cursor: pointer;
}

.product-thumb .button-group button+button {
  border-left: 1px solid #ddd;
}

@media (min-width: 960px) {
  .product-list .product-thumb {
    display: flex;
  }

  .product-list .product-thumb .image {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .product-list .product-thumb .content {
    flex-direction: column;
    flex: 75%;
    position: relative;
  }

  .product-list .product-thumb .button-group {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-left: 1px solid #ddd;
  }
}

.rating {
  padding-bottom: 10px;
}

.rating .fa-stack {
  width: 20px;
}

.rating.fa-star {
  color: #999;
  font-size: 15px;
}

.rating .fa-star {
  color: #FC0;
  font-size: 15px;
}

.rating .fa-star+.fa-star {
  color: #E69500;
}

/* product list */
.price {
  color: #444;
}

.price-new {
  font-weight: 600;
}

.price-old {
  color: #dc512c;
  text-decoration: line-through;
}

.price-tax {
  color: #999;
  font-size: 12px;
  display: block;
}

/* BS4 Changes */
.navbar-light .navbar-toggler {
  font-size: 15px;
  font-stretch: expanded;
  color: #FFF;
  padding: 6px 12px;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
  border-color: #1f90bb #1f90bb #145e7a;
}

.form-check .form-check-input {
  margin-top: 0.25rem;
}

/* Theme Custom CSS */
#display-control #compare-total.a {
  margin-top: -2px;
  padding: 0.35rem 0.565rem;
}

#product-product h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

#information-contact .card {
  margin-bottom: 20px;
}

#cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 9999;
  opacity: 0.95;
  color: #ecf0f1;
  background: #343a40;
}

#cookie div {
  font-size: 16px;
  color: #FFFFFF;
}

.breadcrumb-container>a:last-of-type {
  text-decoration: underline;
}

.purchase-type-container {
  background-color: rgb(243 243 243);
}

.purchase-type-container {}

.purchase-type-container.selected {
  background-color: #FFF3E2;
}

.purchase-type-container .btn-purchase {
  display: none;
}

.purchase-type-container.selected .btn-purchase {
  display: block;
}

.purchase-type-container>div {
  opacity: 0.5;
}

.purchase-type-container.selected>div {
  opacity: 1;
}

.purchase-type-container .checkbox-custom svg {
  display: none;
}

.purchase-type-container.selected .checkbox-custom svg:first-of-type {
  display: block;
}

.purchase-type-container:not(.selected) .checkbox-custom svg:last-of-type {
  display: block;
}

.auth-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #6b6e73;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  position: relative;
  border: 4px solid #fff;
  border-radius: 4px;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

.carousel-item>.row.justify-content-center {
  display: flex;
  justify-content: space-around;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/* rtl:begin:ignore */
.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}

/* rtl:end:ignore */
.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}

@media (prefers-reduced-motion: reduce) {

  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  padding: 0;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {

  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel .carousel-control-prev {
  opacity: 0;
  left: -20px;
}

.carousel .carousel-control-next {
  opacity: 0;
  right: -20px;
}

.carousel:hover .carousel-control-prev {
  opacity: 0.7;
  left: 0px;
}

.carousel:hover .carousel-control-next {
  opacity: 0.7;
  right: 0px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba%280, 0, 0, 0.8%29'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba%280, 0, 0, 0.8%29'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -50px;
  left: 0;
  z-index: 2;
  display: none;
  justify-content: center;
  padding: 0;
  margin-right: 30px;
  margin-bottom: 1rem;
  margin-left: 30px;
  list-style: none;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 9px;
  height: 9px;
  padding: 0;
  margin-right: 5px;
  margin-left: 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  border-radius: 20px;
  border: 1px solid #000000;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  transition: opacity 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}

.carousel-indicators li:hover {
  opacity: 0.7;
}

.carousel-indicators .active {
  opacity: 0.9;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000;
}

.carousel-dark .carousel-caption {
  color: #000;
}