<div class="h-[680px] bg-[url('/image/catalog/demo/banners/_banner.jpg')]">
	<div class="container h-full">
		<div class="h-full flex justify-center items-center">
			<div class="max-w-[570px]">
				<div class="sm:text-[24px] text-[18px] text-orange font-['avenir-semibold'] text-center">
					Your first 30 days are free!
				</div>
				<div class="sm:text-[60px] text-[30px] font-['avenir-bold'] sm:leading-[70px] leading-[36px] sm:mt-[24px] mt-[10px] text-center">
					<span class="text-orange">LUXURY</span>
					AT A MEMBER PRICE. OVER 100 BRANDS
				</div>
				<div class="text-[18px] mt-[24px] text-center">
					Become a member with your first purchase (member prices) and shop products ranging from luxury to everyday life style with free shipping.Get the first month for free - after that DKK 89,- per month. Terminate whenever you want.
				</div>
				<div class="sm:mt-[50px] mt-[26px] text-center">
					<a href="#" class="px-[26px] py-[12px] bg-indigo text-white font-['avenir-semibold']">START SAVING TODAY</a>
				</div>

			</div>
		</div>
	</div>
</div>
