<div id="search" class="flex">
	<div class="relative">
		<div class="absolute h-full flex items-center pl-[10px]">
			<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="#F98D78" class="w-5 h-5">
				<path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd"/>
			</svg>
		</div>
		<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="product-search-input pl-[36px] pr-[10px] py-[9px] border-1 border-[#6B7A93] text-[14px] min-w-full sm:min-w-[370px]">
	</div>
</div>
