<div class=" border-t border-darkBlue">
	<div class="container">
		<div class="sm:py-[80px] pt-[34px] pb-[30px]">
			<div class="sm:text-[40px] text-[30px] text-center uppercase font-bold flex justify-center">
				<div class="sm:max-w-full max-w-[250px]">
					as a member OF
					<span class="text-orange">'littlemini'</span>
					you'll get
				</div>
			</div>
			<div class="sm:text-[24px] text-[18px] text-center sm:mt-[10px] mt-[18px]">We guarantee the highest quality at the lowest price
				<span class="sm:text-[13px] text-[12px]">most of the time ;-)</span>
			</div>
			<div class="grid sm:grid-cols-4 grid-cols-2 sm:gap-[30px] gap-[15px] sm:mt-[38px] mt-[23px] text-center">
				<div class="sm:mb-0 mb-[8px]">
					<div class="border-t border-b border-darkBlue">
						<img src="/image/catalog/objects/members_item1.png"/>
					</div>
					<div class="sm:text-[16px] font-bold sm:mt-[24px] mt-[16px]">FREE SHIPMENT</div>
					<div class="sm:text-[14px] text-[12px]">on all orders.</div>
				</div>
				<div class="sm:mb-0 mb-[8px]">
					<div class="border-t border-b border-darkBlue">
						<img src="/image/catalog/objects/members_item1.png"/>
					</div>
					<div class="sm:text-[16px] font-bold sm:mt-[24px] mt-[16px]">FREE SHIPMENT</div>
					<div class="sm:text-[14px] text-[12px]">on all orders.</div>
				</div>
				<div class="sm:mb-0 mb-[8px]">
					<div class="border-t border-b border-darkBlue">
						<img src="/image/catalog/objects/members_item1.png"/>
					</div>
					<div class="sm:text-[16px] font-bold sm:mt-[24px] mt-[16px]">FREE SHIPMENT</div>
					<div class="sm:text-[14px] text-[12px]">on all orders.</div>
				</div>
				<div class="sm:mb-0 mb-[8px]">
					<div class="border-t border-b border-darkBlue">
						<img src="/image/catalog/objects/members_item1.png"/>
					</div>
					<div class="sm:text-[16px] font-bold sm:mt-[24px] mt-[16px]">FREE SHIPMENT</div>
					<div class="sm:text-[14px] text-[12px]">on all orders.</div>
				</div>
			</div>
			<div class="text-center sm:mt-[42px] mt-[28px] flex justify-center">
				<div class=" max-w-[770px]">
					<span class="font-bold">LittleMini offers huge savings</span>
					on makeup, perfumes, shampoo, and personal care products, but it is exclusively for members. Sign up now with your first purchase and get your first month free. Afterwards, membership costs only DKK 89,- per month, but with our discounts, you'll quickly recoup the cost. Plus, you can cancel at any time.
				</div>
			</div>
		</div>
	</div>
</div>
