<div class="relative bg-orange text-white border-t border-darkBlue">
	<div class="sm:h-[403px] h-[375px] bg-[url('/image/catalog/objects/wink_haha_woman.png')] bg-no-repeat sm:bg-right bg-[-66px] flex items-center">
		<div class="container">
			<div class="sm:text-[40px] text-[30px] font-bold uppercase">Be the first to Get the best deals</div>
			<div class="sm:text-[24px] text-[18px] sm:mt-[30px] mt-[18px] sm:max-w-[570px]">Sign up for the LittleMini newsletter and get the latest minis (articles), inspiration, tips & tricks and great offers directly to your inbox.</div>
			<div class="sm:mt-[24px] mt-[18px] flex sm:flex-row flex-col items-start">
				<div class="relative sm:w-auto w-full">
					<div class="absolute h-full flex items-center right-0 pr-[10px]">
						<svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.5 4.5L7.5 8.5L14.5 4.5M1.5 1.5H13.5C14.0523 1.5 14.5 1.94772 14.5 2.5V12.5C14.5 13.0523 14.0523 13.5 13.5 13.5H1.5C0.947716 13.5 0.5 13.0523 0.5 12.5V2.5C0.5 1.94772 0.947715 1.5 1.5 1.5Z" stroke="#080E16"/>
						</svg>
					</div>
					<input type="text" name="search" placeholder="Your email ..." class="text-dark product-search-input pr-[36px] pl-[10px] py-[9px] border-1 border-[#6B7A93] text-[14px] min-w-full sm:min-w-[370px]"/>
				</div>
				<a href="#" class="px-[26px] py-[10px] bg-indigo text-white font-semibold sm:w-[200px] flex justify-center sm:mt-0 mt-[20px]">SIGN UP NOW</a>
			</div>
		</div>
	</div>
</div>
