<div class=" border-t border-darkBlue">
	<div class="container">
		<div class="sm:py-[80px] pt-[34px] pb-[30px]">
			<div class="sm:text-[40px] text-[30px] text-center uppercase font-bold flex justify-center">
				<div class="sm:max-w-full max-w-[250px]">
					WANT TO  
					<span class="text-orange">KNOW</span>
           MORE?
				</div>
			</div>
			<div class="sm:mt-[24px] mt-[18px] text-center sm:text-[16px] text-[12px]">
       Your feedback matters to us. We're always on the hunt for new products and offers for our members and <br>want to make sure you get exactly what you need. If you have any questions or specific requests, reach out<br> to us. You can get in touch with us here:
      </div>
      <div class="flex justify-center sm:mt-[30px] mt-[22px]">
        <a href="#" class="block py-[12px] px-[10px] border border-darkBlue font-bold">CUSTOMER LINK</a>
      </div>
    </div>
  </div>
</div>