<div class="bg-white">
	<hr>
	<div class="container mx-auto sm:px-0 px-[20px] sm:py-[78px] py-[40px]">
		<div class="grid sm:grid-cols-4 grid-cols-1 gap-[26px]">
			<div class="relative">
				<div class="absolute top-[10px] right-[10px] text-[8px] bg-[#F98D78] rounded-full px-[8px] py-[6px] text-white">COSMETICS</div>
				<img src="/image/catalog/ads/section_add1.png" class="w-full"/>
				<div class="sm:text-[16px] font-bold bg-dark text-white text-center leading-[40px]">ELIZABETH ARDEN</div>
				<div class="py-[4px] text-center">The world's leading brand in cosmetics.</div>
			</div>
			<div class="relative">
				<div class="absolute top-[10px] right-[10px] text-[8px] bg-[#F98D78] rounded-full px-[8px] py-[6px] text-white">COSMETICS</div>
				<img src="/image/catalog/ads/section_add2.png" class="w-full"/>
				<div class="sm:text-[16px] font-bold bg-dark text-white text-center leading-[40px]">MAYBELLINE</div>
				<div class="py-[4px] text-center">The cosmetics superstar is back.</div>
			</div>
			<div class="relative">
				<div class="absolute top-[10px] right-[10px] text-[8px] bg-[#F98D78] rounded-full px-[8px] py-[6px] text-white">COSMETICS</div>
				<img src="/image/catalog/ads/section_add3.png" class="w-full"/>
				<div class="sm:text-[16px] font-bold bg-dark text-white text-center leading-[40px]">WELLA</div>
				<div class="py-[4px] text-center">Join the Wellahair family.</div>
			</div>
			<div class="relative">
				<div class="absolute top-[10px] right-[10px] text-[8px] bg-[#F98D78] rounded-full px-[8px] py-[6px] text-white">COSMETICS</div>
				<img src="/image/catalog/ads/section_add4.png" class="w-full"/>
				<div class="sm:text-[16px] font-bold bg-dark text-white text-center leading-[40px]">VITABALANS</div>
				<div class="py-[4px] text-center">Get your daily vitamins.</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="container mx-auto sm:px-0 px-[20px] sm:py-[80px] py-[30px]">
		<div class="flex gap-[30px]">
			<div class="grow">
				<div class="sm:text-[40px] font-bold text-[30px]">LITTLE MINIS</div>
				<div class="sm:mt-[40px] mt-[20px] sm:grid sm:grid-cols-3 gap-[30px]">
					<div class="col-span-2">
						<img class="border-r-[2px] border-orange w-full" src="/image/catalog/ads/Image(3).png"/>
						<div class="text-[24px] text-center sm:py-[48px] py-[32px] border-b border-darkBlue">Everything you need to know about Korean skin care.</div>
					</div>
					<div class="sm:flex sm:flex-col grid grid-cols-2 gap-[16px] sm:py-0 py-[20px]">
						<div class="sm:w-[270px] sm:h-[120px] flex justify-end items-start bg-[url('/image/catalog/ads/Image(4).png')] bg-cover p-[10px]">
							<div class="text-[8px] bg-[#F98D78] rounded-full px-[8px] py-[6px] text-white">SKIN CARE</div>
						</div>
						<div class="sm:flex hidden sm:w-[270px] sm:h-[120px] flex justify-end items-start bg-[url('/image/catalog/ads/Image(5).png')] bg-cover p-[10px]">
							<div class="text-[8px] bg-[#F98D78] rounded-full px-[8px] py-[6px] text-white">SKIN CARE</div>
						</div>
						<div class="sm:flex hidden sm:w-[270px] sm:h-[120px] flex justify-end items-start bg-[url('/image/catalog/ads/Image(6).png')] bg-cover p-[10px]">
							<div class="text-[8px] bg-[#F98D78] rounded-full px-[8px] py-[6px] text-white">SKIN CARE</div>
						</div>
						<div class="sm:hidden block text-center py-[33px] border-t border-b border-darkBlue sm:mb-[20px]">
							We have created the ultimate self-tanner guide.
						</div>
					</div>
				</div>
			</div>
			<div class="sm:block hidden w-[220px]">
				<div class="flex justify-center items-center gap-[4px] py-[15px] border-t border-b border-darkBlue sm:mb-[44px]">
					<svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.5 7.5H10.5M8.5 10.5H10.5M4.5 4.5H6.5M12.5 14.5H2.5C1.94772 14.5 1.5 14.0523 1.5 13.5V1.5C1.5 0.947716 1.94772 0.5 2.5 0.5H10.5L13.5 3.5V13.5C13.5 14.0523 13.0523 14.5 12.5 14.5Z" stroke="#080E16" stroke-linecap="square"/>
					</svg>
					<div class="text-[16px]">ALL MINIS</div>
				</div>
				<div class="text-center py-[33px] border-t border-b border-darkBlue sm:mb-[20px]">
					We have created the ultimate self-tanner guide.
				</div>
				<div class="text-center py-[33px] border-t border-b border-darkBlue sm:mb-[20px]">
					Dry brush yourself for more beautiful skin and a healthier body.
				</div>
				<div class="text-center py-[33px] border-t border-b border-darkBlue sm:mb-[20px]">
					How to take care of your skin in the cold.
				</div>
			</div>
		</div>
	</div>
</div>
